/**
 * @Author: Ali
 * @Date:   2019-12-03T08:42:32+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-12-03T08:49:28+01:00
 */

.App {
  text-align: center;
}

li {
  border: 2px solid #000;
  margin:10px;
  padding: 5px;
  font-size: 1.5em;
  display: inline-block;
  cursor:pointer;
  background-color: #fad390;
  width:50%;

}
ul {
  background-color: #666;
  padding:20px;
}
